@using TCC.Domain.Enums;
@model TCC.Application.ViewModels.AulaViewModel

@{
    ViewData["Title"] = "LogPlay - Aulas";
}

<div class="aula-main-container">
    <div class="banner-aula">
        <h1 class="titulo-aula">@Html.DisplayFor(m => m.Nome)</h1>
        <p class="descricao-aula">@Html.DisplayFor(m => m.Descricao)</p>
        
        <div class="voltar-section">
            <div class="botao-voltar">
                <a class="btn btn-primary" asp-controller="Cursos" asp-action="Variáveis" asp-route-name="">
                    Voltar para o Curso
                </a>
            </div>
        </div>
    </div>

    @if (ViewBag.Images != null)
    {
        <div class="pdf-container">
            @foreach (var imageData in ViewBag.Images)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(imageData)" />
            }
        </div>
    }


    <div class="exercicios-container">
        <h2>Exercícios</h2>        
            @foreach (var exercicio in Model.Exercicios)
            {
                <form method="post" id="formEx" asp-controller="Aulas" asp-action="ResponderExercicio" class="exercicio-element">
                    <h3>@exercicio.Enunciado</h3>
                    @Html.Hidden("ExercicioId", exercicio.Id)
                    <label>
                    @Html.RadioButton("Resposta", exercicio.AlternativaA)
                        @exercicio.AlternativaA
                    </label>
                    <label>
                    @Html.RadioButton("Resposta", exercicio.AlternativaB)
                    @exercicio.AlternativaB
                    </label>

                    @if (!string.IsNullOrEmpty(exercicio.AlternativaC))
                    {
                        <label>
                        @Html.RadioButton("Resposta", exercicio.AlternativaC)
                        @exercicio.AlternativaC
                        </label>
                    }
                    
                    @if (!string.IsNullOrEmpty(exercicio.AlternativaD))
                    {
                        <label>
                        @Html.RadioButton("Resposta", exercicio.AlternativaD)
                        @exercicio.AlternativaD
                        </label>
                    }

                    <div class="botao-verificar">
                    <button class="btn btn-primary botao-responder" type="submit" value="Submit" data-id="@exercicio.Id">Responder</button>
                    </div>
                </form>
            }             
    </div>

    <div class="concluir-section">
        <div class="botao-concluir">
            <a class="btn btn-primary" asp-controller="Aulas" asp-action="Variáveis" asp-route-name="">
                Concluir aula
            </a>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Aulas/detalhes.css" asp-append-version="true" />
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#formEx").submit(function (e) {
                e.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/Aulas/ResponderExercicio",
                    data: formData,
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                        if (!response.success) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Resposta errada!',
                                text: "Poxa, resposta errada."
                            })
                        }
                        else {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Parabéns! Você acertou!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ocorreu um erro inesperado!',
                            text: 'Erro inesperado ao tentar responder o exercício.'
                        })
                    }
                });
            });
        });
    </script>

}